{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["import", "jsx-a11y", "react", "react-hooks"],
  "rules": {
    "strict": 0
  }
}
